
.ui-block-c textarea{
	display:none;
}

.next-button, .today-button, .prev-button, .auto-fill-button{
	border-radius: 5px;
	border-style: groove !important;
	margin-left: 20px;
}

.next-button:hover, .today-button:hover, .auto-fill-button:hover, .prev-button:hover{
	background-color: yellow;
	cursor: pointer;
}

.calendar-loading{
	background: url('/images/loading.gif') no-repeat;
	
}

#calendar-error{
	color: red;
	font-weight: bold;
	display: none;
}

.pesan-error{
	color: red;
	font-weight: bold;
}

.pesan-loading{
	color: black;
	font-weight: bold;
}

.day-full{
	background-color: red;
	border-radius: 5px;
	color: orange;
	font-weight: bold;
}

.day-filled{
	background-color: orange;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.day-ruqyah{
	background-color: pink;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}

.auto-fill-button{
	margin: 0 auto;
    background: transparent;
    border: none;
    padding: 5px;
}

.day-0{
	border: groove;
	background-color: white;
	border-radius: 15px;
	color: black;
	font-weight: bold;
}

.tengah-medium{
	width: 65%;
	margin: auto;
}