
.ui-block-c textarea{
	display:none;
}

.next-button, .today-button, .prev-button, .auto-fill-button{
	border-radius: 5px;
	border-style: groove !important;
	margin-left: 20px;
}

.next-button:hover, .today-button:hover, .auto-fill-button:hover, .prev-button:hover{
	background-color: yellow;
	cursor: pointer;
}

.calendar-loading{
	background: url('/images/loading.gif') no-repeat;
	
}

#management-control-pasien{
	text-align: right;
    margin-right: 50px;
    margin-bottom: 20px
}

#link-reset, #link-aktifasi, #refresh-pasien, #link-non-aktifasi {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

#link-reset{
		width: 155px;
}

#link-aktifasi, #refresh-pasien, #link-non-aktifasi{
	width: 100px;
}

#link-aktifasi{
  background-image: url("/images/success_28.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#link-non-aktifasi{
  background-image: url("/images/error_28.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#refresh-pasien{
  background-image: url("/images/refresh.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#link-reset{
  background-image: url("/images/email_28.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.pasien-gender{
	display:inline-block;
	width: 75px;
	height: 18px;
}

.pasien-no-email{
  background-image: url("/images/email_error_28.png") ;
  background-repeat: no-repeat;
  background-position: 20% 50%;
}

.pasien-nonactive{
  background-image: url("/images/closed_lock_28.png");
  background-repeat: no-repeat;
  background-position: 20% 50%;
}

.pasien-active{
  background-image: url("/images/open_lock_28.png");
  background-repeat: no-repeat;
  background-position: 20% 50%;
}

.treatment-male, .pasien-male{
  background-image: url("/images/male_28.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.treatment-female, .pasien-female{
  background-image: url("/images/female_28.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#calendar-error{
	color: red;
	font-weight: bold;
	display: none;
}

.pesan-error{
	color: red;
	font-weight: bold;
		display: none;
}

.pesan-loading{
	color: black;
	font-weight: bold;
		display: none;
}

.day-full{
	background-color: red;
	border-radius: 5px;
	color: orange;
	font-weight: bold;
}

.day-filled{
	background-color: orange;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.day-ruqyah{
	background-color: pink;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}

.auto-fill-button{
	margin: 0 auto;
    background: transparent;
    border: none;
    padding: 5px;
}

.day-0{
	border: groove;
	background-color: white;
	border-radius: 15px;
	color: black;
	font-weight: bold;
}

.tengah-medium{
	width: 65%;
	margin: auto;
}